body {
    background-image: url('../images/detective-pikachu.jpg');
    background-size: cover;
}

@font-face {
    font-family: texto;
    src: url("../fonts/Rubik-Regular.ttf");
}

.texto{
    font-family: texto;
    font-size: 2em;
}